.top-bar {
	background-color: rgba( 0, 0, 0, .5 );
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	height:72px;
	overflow:hidden;
	@include transition(all 0.3s);

	&.full {
		background-color: rgba( 0, 0, 0, .9 ) !important;
		bottom:0;
		height: 100%;
		#search-results {
			display:block;
		}
	}
	&.opaque {
		background-color: rgba( 0, 0, 0, 1 );
	}

	.logo {
		height: 30px;
		margin-top: -5px;
		margin-left: -30px;
		width: auto;
	}

	#search-bar {
		background-color: #ececec;
		border-radius: 20px;
		border: 6px solid #ccc;
		margin-top: 17px;
		padding: 10px 20px;
	}

	.fa-search {
		position: absolute;
		top: 28px;
		right: 0;
		margin-right: 30px;
	}

	#search-results {
		display:none;
		#close-search {
			position: absolute;
			top: 26px;
		}
		#fixed-results{
			position: fixed;
			max-width: 62.5rem;
			overflow: scroll;
			top: 169px;
			bottom: 0;
			.small-4 {
				padding: 0 2rem;
			}

			.middle-results {
				margin-bottom: 40px;
				.row {
					border-bottom: 1px solid #333;
					padding: 20px 0;
					p {
						margin-bottom:0;
					}
				}
			}
		}
		.trending {
			background: rgba(45,45,45,0.6);
			padding: 5px 1rem;
			&.first {
				margin-top:25px;
				padding: 5px 1rem;
			}
			.columns {
				border-bottom: 1px solid #333;
				margin-bottom: 15px;
				padding-bottom: 15px;
			}
			h4 {
				margin: 5px 0 5px;
			}
			p {
				line-height: 1.3;
				margin-bottom:0;

			}
		}
	}
}
