// Import 'PT Serif'
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

$body-bg: #fff;
$modal-bg-color-dark: rgba( 0, 0, 0, .5 );
$modal-bg-color-light: #fff;
