/*
 * Application specific SCSS variables
 * For variables specifc to Foundation, please set those in /assets/scss/foundation/_setting.scss
 */

/* Import Merriweather */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,900,900italic);

$global-transition-speed: 0.3s;

$body-bg: #fff;
/* Article page top header area */
$hero-bg: #999;
$hero-text-color: #fff;
/* Modal Variables */
$modal-bg-color-dark: rgba( 0, 0, 0, .5 );
$modal-bg-color-light: #fff;
