.invisible {
	opacity: 0;
}

.opaque {
	opacity: 1;
}

.show {
	display: block;
}

.fade {
	@include transition( opacity $global-transition-speed ease-in-out $global-transition-speed );

	&.invisible {
		@extend .invisible;
	}

	&.opaque {
		@extend .opaque;
	}
}
