body.batman-theme {


	background-color: #181818;
	color: #B0B0B0;

	h2,h3,h4,h5,h6{
		color:#fbad31;
	}

	a{
	  color:#fbad31;
	}

	tr,td,th{
	background-color: #202020;
	color: #C0C0C0;
	}

	table{
		border-color:none;
	}

	.hero {
		@include background-image( url( '/images/hero/batman_hero_xl.jpg' ) );
		background-size: cover;
		background-position: 0 0;
	}


	.content article,
	.infobox,
	wk-table-of-contents .table-of-contents a {
		border-color: #333;
	}

	wk-table-of-contents .table-of-contents li {
		&.active a {
			border-color: #777;
			color: #777;
		}
	}
	.injected-related {
		background-color: #333;
	}
}
