.contribution-menu {
	// -_-
	@extend .fade;
	left: 50%;
	margin-left: $body-width / 2 + px;
	padding-top: 20px;
	position: absolute;
	opacity: 0;

	&.sticky {
		top: 70px;
	}

	li {
		margin-left: 20px;
		padding-bottom: 10px;
		text-align: center;
		display: none;
		
		&.active {
			display: block;
		}
		a {
			color: #999;

			&:active,
			&:hover {
				color: #666;
			}
		}

		i {
			font-size: 2rem;
			&.smaller {
				font-size: 1rem;
				
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
	}
}

.page-splash .contribution-menu {
	opacity: 0;
}
