.article-image {
	font-family: $header-font-family;
	font-size: 0.85rem;
	font-style: italic;

	figcaption {
		margin-top: 10px;

	}

	&.feature {
		clear: both;
		margin: 20px 0;
		max-height: 600px;
		max-width: 100%;
		display: inline-block;

		position: relative;
		a {
			overflow: hidden;
			max-height: 600px;
		}
		img, a {
			display: block;
			margin: 0 auto;
		}

		img {
			max-width: 100%;
			height: auto;
		}
		figcaption {
			position:absolute;
			top:5px;
			left:100%;
			margin-left: 20px;
			width: 240px;
			&:before {
				width: 50px;
				height: 2px;
				background: #666;
				position: absolute;
				top: -15px;
				left: 0;
				content: "";
			}
		}
	}

	&.minor {
		float: left;
		margin: 6px 20px 10px 0;
		max-width: 33%;
	}
	&.largeFeature {
		margin: 6px 20px 10px 0;
		a {
			overflow: hidden;
			max-height: 600px;
			display: inline-block;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

