.injected-related {
	width: 100%;
	background:#333;
	padding:20px 15px;
	margin: 20px 0;
	li {
		padding-bottom: 0;
		h5 {
			margin-top: 0;
		}
		.thumb {
			height: 160px;
			overflow: hidden;
		}
		div {
			font-family: join("Open Sans Condensed", "Gotham Bold" $body-font-family);
			font-size: 1.3em;
			letter-spacing: 0.3px;
			line-height: 1.5em;
			margin-top: 10px;
		}
	}
}
