wk-table-of-contents {
	@extend .fade;
	font-family: $header-font-family;
	font-size: .85rem;
	opacity: 0;
	padding-top: 10px;

	&.sticky {
		overflow: auto;
		position: fixed;
		top: 60px;
		width: 258px;
	}

	.table-of-contents {
		font-family: inherit;
		font-size: inherit;
		list-style-type: none;
		margin: 10px 0 0 0;

		a {
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 90%;
			white-space: nowrap;
			color: #555;
			&:hover {
				color:#333;
			}
		}

		li {
			&.active a {
				border-right: 3px solid #333;
				
			}
		}

		.indent-2 {
			margin: 3px 20px 3px 0;
		}

		.indent-3 {
			display: none;
			a {
				padding: 3px 20px 3px 10px;
				border-left: 1px solid #ececec;
				font-size: 0.8em;
				line-height: 1.4em;
			}
			&.shown, &.active {
				display: block;
			}
		}

		.indent-4, .indent-5, .indent-6 {
			display: none;
			a {
				border-left: 1px solid #ececec;
				margin-left: 20px;
				padding: 3px 20px 3px 10px;
				font-size: .75rem;
				line-height: 1.2em;
			}
			&.shown, &.active {
				display: block;
			}
		}

	}
}
