$toc-width: 180px;
wk-table-of-contents {
	@extend .fade;
  font-family: $header-font-family;
  font-size: .85rem;
	margin-left: -200px;
	position: absolute;
	width: $toc-width;
	opacity: 0;
	border-right: 1px solid #ececec;

	&.sticky {
		height: 100%;
		overflow: auto;
		position: fixed;
		top: 60px;
	}

	.table-of-contents {
		font-family: inherit;
		font-size: inherit;
		list-style-type: none;
		margin: 10px 0 0 0;

		a {
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			width: $toc-width;
			white-space: nowrap;
		}

		.indent-2 {
			padding: 3px 20px 3px 0;
		}

		.indent-3 {
			padding: 3px 20px 3px 15px;
			border-left: 1px solid #ececec;
		}

		.indent-4 {
			padding: 3px 20px 3px 25px;
		}

		.indent-4, .indent-5, .indent-6 {
			@extend .hide;
		}
	}
}
