wk-table-of-contents {
	@extend .fade;
  font-family: $header-font-family;
  font-size: .85rem;
	opacity: 0;
	border-right: 1px solid #ececec;

	&.sticky {
		height: 100%;
		overflow: auto;
		position: fixed;
		top: 60px;
		width: 258px;
	}

	.table-of-contents {
		font-family: inherit;
		font-size: inherit;
		list-style-type: none;
		margin: 10px 0 0 0;

		a {
			display: block;
			text-overflow: ellipsis;
			overflow: hidden;
			width: 90%;
			white-space: nowrap;
		}

		li {
			&.active a {
				font-weight: bold;
			}
		}

		.indent-2 {
			margin: 3px 20px 3px 0;
		}

		.indent-3 {
			display: none;
			a {
				padding: 3px 20px 3px 15px;
				border-left: 1px solid #ececec;
			}
			&.shown, &.active {
				display: block;
			}
		}

		.indent-4, .indent-5, .indent-6 {
			border-left: 1px solid #ececec;
			padding: 3px 20px 3px 25px;
			font-size: .75rem;
			display: none;
			a {
				border-left: 1px solid #ececec;
				padding: 3px 20px 3px 25px;
				font-size: .75rem;
			}
			&.shown, &.active {
				display: block;
			}
		}

	}
}
