<div class="splash-content">
	<h4>Welcome to our 2013 Winter Hackathon project</h4>
	<p>To begin the experience, pick an article from Wikia and copy the URL from your browser's address bar. The URL should look something like this:</p>
	<blockquote>http://batman.wikia.com/wiki/Batman</blockquote>
	<p>Then, hit the <kbd>?</kbd> key on your keyboard. Paste your URL and hit <kbd>Return</kbd> and voila! From there, feel free the navigate the article links just like you normally would. Enjoy!</p>
</div>
