<div class="splash-content">
	<h4>Welcome to our 2013 Winter Hackathon project</h4>
	<p>For our hack, we decided to build a version of the Wikia article experience that explores new ideas for improving readability, content suggestion, sense of community while also offering more opportunities for immersive and higher value ad experiences.</p>
	<p>Check out our hack on live production data by visiting the following articles:</p>
	<ul>
		<li><a href="#article/batman/Batman">Batman Wiki - Batman</a></li>
		<li><a href="#/article/walkingdead/Dead_Weight">Walking Dead Wikia - Dead Weight</a></li>
		<li><a href="#/article/shadowofmordor/Mordor">Shadow of Mordor Wikia - Mordor</a></li>
		<li><a href="#/article/gta/Wei_Cheng">GTA Wikia - Wei Cheng</a></li>
		<li><a href="#/article/callofduty/Call_of_Duty:_World_at_War">Call of Duty Wikia - World at War</a></li>
	</ul>
	<p>To begin the experience on your own, pick an article from Wikia and copy the URL from your browser's address bar. The URL should look something like this:</p>
	<blockquote>http://batman.wikia.com/wiki/Batman</blockquote>
	<p>Then, hit the <kbd>?</kbd> key on your keyboard. Paste your URL and hit <kbd>Return</kbd> and voila! From there, feel free the navigate the article links just like you normally would. Enjoy!</p>
	<h4>Hackers:</h4>
	<ul>
		<li>Kenneth Kouot <em>Engineer</em></li>
		<li>Earl Carlson <em>UX & Git Novice</em></li>
		<li>Zach Hobbs <em>Engineer</em></li>
		<li>Emily Massa <em>Visual Designer & UX</em></li>
		<li>Kyle Florence <em>Engineer</em></li>
		<li>Chris Fife <em>Product Designer & Moral Support</em></li>
		<li>Kyle Cooney <em>UX & Visual Design</em></li>
		<li>Liz Lee <em>Moral Support</em></li>
	</ul>
	<img src="http://media.heavy.com/post_assets/2010/03/0417/1267743226_stoned-party-dog-original.jpg">
</div>
