<div>
	<h2>Recommended content</h2>
	<div class="hero bottom-hero">
	  <header class="row opaque" ng-class="{ opaque: !changing }">
        <div class="columns small-9 small-offset-3">
          <h1 id="wk-next-article-title" class="hero-title ng-binding" ng-bind="pageHeader"></h1>
          <strong class="contrib-label">Curated by</strong>
          <div class="contrib-icons">
            <ul class="inline-list">
              <li><a href=""><img src="http://placekitten.com/40/40" alt=""></a></li>
              <li><a href=""><img src="http://placekitten.com/40/41" alt=""></a></li>
              <li><a href=""><img src="http://placekitten.com/40/42" alt=""></a></li>
              <li><a href=""><img src="http://placekitten.com/40/46" alt=""></a></li>
              <li><a href=""><img src="http://placekitten.com/40/47" alt=""></a></li>
            </ul>
            <strong class="contrib-detail">and 5 others</strong>
          </div>
          <div class="comments">
            <i class="fa fa-comment"></i>
            <span class="comment-count">122 comments</span>
          </div>
        </div>
      </header>
	</div>
	<div class="row1">
		<ul>
			<li ng-repeat="article in relatedArticles" class="related-article">
				<a href="{{ article.url.replace( '/wiki', '').replace( '/', '#article/' + $root.wiki + '/' ) }}">
					<div ng-show="article.imgUrl.length"  style="background-image:url({{ article.imgUrl }})"></div>
					<div ng-show="!article.imgUrl.length" style="background-image:url(/images/related_blank.png)" class="placeholder"></div>
					<span class="title">
						{{ article.title }}
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>
