body.callofduty-theme {


	background-color: #181818;
	color: #C0C0C0 ;

	h2,h3,h4{
		color:#1C74A3;
	}

	a{
		color:#1C74A3;
	}

	tr,td,th{
	background-color: #202020;
	color: #C0C0C0;
	}

	table{
		border-color:none;
	}

	.hero {
		@include background-image( url( '/images/hero/callofduty.jpg' ) );
		background-size: cover;
		background-position: 0 0;
	}

	.content article,
	.infobox,
	wk-table-of-contents .table-of-contents a {
		border-color: #333;
	}

	wk-table-of-contents .table-of-contents li {
		&.active a {
			border-color: #777;
			color: #777;
		}
	}
}
