body.walkingdead-theme {


	background-color: #E8E8E8;
	color: #383838  ;


	a{
	  color:#597b3e;
	}


	h2,h3,h4,h5,h6{
		color:#597b3e;
	}


	tr,td,th{
	background-color: #F0F0F0 ;
	color: #C0C0C0;
	}

	table{
		border-color:none;
	}

	.hero {
		@include background-image( url( '/images/hero/The-Walking-Dead.jpg' ) );
		background-size: cover;
		background-position: 0 0;
	}

	.injected-related {
		background-color: #ccc;
	}
	
}
